<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <title th:text="#{string.home}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/userPage.css}">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script th:src="@{/js/tableToggle.js}"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="content">
    <table class="table-condensed table table-hover" style="border-collapse:collapse;">
        <caption th:text="#{string.reports.list}">Reports List</caption>
        <thead>
        <tr>
            <td th:text="#{string.id}"></td>
            <td th:text="#{string.name}"></td>
            <td th:text="#{string.created}"></td>
            <td th:text="#{string.updated}"></td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <span th:each="report : ${reports}">
        <tr class="accordion-toggle" data-toggle="collapse" th:data-target="'#' + ${report.getId()}">
            <th scope="row" th:text="${report.getId()}"></th>
            <td th:text="${report.getName()}"></td>
            <td th:text="${report.getCreated()}"></td>
            <td th:text="${report.getUpdated()}"></td>
            <td>
                <form th:action="@{'home/accept/' + ${report.getId()}}" th:method="post">
                    <button type="submit" class="btn btn-success" onclick="return confirm('You sure?')"
                            th:text="#{string.accept}"></button>
                </form>
            </td>
            <td>
            <form th:action="@{'home/decline/' + ${report.getId()}}" th:method="get">
                <button type="submit" class="btn btn-danger"
                        onclick="return confirm('You sure?')" th:text="#{string.decline}"></button>
            </form>
            </td>
        </tr>
        <tr>
            <td colspan="6" class="hiddenRow"><div class="accordian-body collapse" th:id="${report.getId()}"
                                                   th:text="${report.getDescription()}"></div></td>
        </tr>
    </span>
        <tbody>
    </table>

    <nav th:if="${reports.getTotalPages() != 0}" style="display: flex; justify-content: center" aria-label="Page navigation example">
        <ul class="pagination">
        <span th:each="page: ${#numbers.sequence(0, reports.getTotalPages() - 1)}">
            <li class="page-item"><a class="page-link" th:href="'?page=' + ${page}" th:text="${page + 1}"></a></li>
        </span>
        </ul>
    </nav>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
